
.botonera{
    
    .logo{
        font-family: $mainFont;
        font-size: $textLg;
        color: $color4;
        
    
    }
    ul{
        li{
            a{
                font-family: $mainFont;
                color: $color4;
                font-size: $textSm;
            }
        }
    }

}
.dropdown-menu{
    transform: translateX(-8%);
    

}
.navbar-nav .dropdown-menu {
    position:absolute;
}
